.App {
  text-align: center;
  background-color: #282D33;
  min-height: 110vh;
  max-height: 110vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  background-color: #282D33;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

h2 {
  font-size: calc(10px + 2vmin);
  margin-left: 8%;
  margin-right: 8%;
}

.Header {
  max-width: 100vw;
  background-color: #282D33;
  color: gainsboro;
}

.Footer {
  background-color: #282D33;
  margin-top: 3%;
  bottom: 0px;
  min-width: 100vw;
  max-width: 100wv;
}

.App-link {
  color: #09d3ac;
}

.Canvas {
  text-align: center;
  background-color: #282D33;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flow-root;
  font-size: calc(10px + 1vmin);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: gainsboro;
}

.mt-4 {
  margin-top: 4%;
}

.mt-7 {
  margin-top: 7%;
}

.Logo {
  max-width: 80vw;
}

.Volume {
  max-width: 100vw;
  margin-left: 10%;
  margin-right: 10%;
}

.Choices {
  align-content: center;
}

.Button {
  background-color: #282D33;
  font-size: calc(10px + 1vmin);
  color: gainsboro;
  margin-top: 3%;
  margin-right: 3%;
  min-width: 20vw;
  max-width: 70vw;
  min-height: 50px;
  padding: 3%;
}

.inline {
  display: inline;
}