.App {
  text-align: center;
  background-color: #282D33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282D33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.Header {
  background-color: #282D33;
  text-align: center;
  display: flow-root;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.Footer {
  margin-top: 3%;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.Canvas {
  text-align: center;
  background-color: #282D33;
  min-height: 60vh;
  display: flow-root;
  font-size: calc(10px + 1vmin);
  flex-direction: column;
  justify-content: center;
  color: gainsboro;
  padding: 10%;
}

.mt-4 {
  margin-top: 4%;
}

.mt-7 {
  margin-top: 7%;
}

.Volume {
  margin-left: 10%;
  margin-right: 10%;
}

.Button {
  background-color: #282D33;
  font-size: 150%;
  color: gainsboro;
  margin-top: 3%;
  margin-right: 3%;
  min-width: 150px;
  min-height: 50px;
  padding: 1%;
}

.Choices {
  display: inline;
  padding-bottom: 30px;
}

.inline {
  display: inline;
}